.field-radiobutton {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; /* Espaço entre os botões */
}

.field-radiobutton span {
  margin-left: 0.5rem; /* Espaço entre o botão e o nome */
}
